In [1]:
from pykrx import stock
from kyu_stocks import *
market = "KOSDAQ"
tickers = stock.get_market_ticker_list(market=market)

In [2]:
import time

In [3]:
df = get_52price("204270", "20220501", "20230511")
df

,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,52_week_high,52_week_low
0,2022-05-02,6280,6400,6210,6370,41822,262224380,-0.62,6400.0,6210.0
1,2022-05-03,6280,6420,6260,6330,22362,141694820,-0.63,6420.0,6210.0
2,2022-05-04,6310,6380,6230,6290,39698,249207390,-0.63,6420.0,6210.0
3,2022-05-06,6250,6260,6140,6200,44111,272254300,-1.43,6420.0,6140.0
4,2022-05-09,6190,6190,6010,6070,56974,344685130,-2.10,6420.0,6010.0
...,...,...,...,...,...,...,...,...,...,...
250,2023-05-04,7990,8090,7790,8080,61550,487362660,0.87,9010.0,4340.0
251,2023-05-08,8190,8510,8090,8410,130910,1089847340,4.08,9010.0,4340.0
252,2023-05-09,8820,8890,8570,8760,280681,2446496650,4.16,9010.0,4340.0
253,2023-05-10,8760,8920,8610,8860,105531,927865850,1.14,9010.0,4340.0
254,2023-05-11,8860,8960,8770,8830,80491,714095990,-0.34,9010.0,4340.0

In [4]:
df.iloc[-1, -2]

9010.0

In [5]:
from tqdm import tqdm

week = []
for ticker in tqdm(tickers):
    df = get_52price(ticker, "20220501", "20230511")
    if df['종가'].iloc[-1] > 0.9 * df.iloc[-1, -2]:
        week.append([ticker, df.iloc[-1, -2]])
    time.sleep(2)

100%|█████████████████████████████████████| 1636/1636 [1:12:57<00:00,  2.68s/it]

In [6]:
print(week)

[['404950', 2200.0], ['367340', 2240.0], ['367360', 2225.0], ['068790', 7120.0], ['180400', 8230.0], ['900290', 3690.0], ['426550', 2360.0], ['439730', 2230.0], ['442770', 2245.0], ['448760', 2200.0], ['099520', 0.0], ['035900', 96800.0], ['036670', 9990.0], ['060370', 7520.0], ['038340', 0.0], ['032540', 7660.0], ['036620', 3210.0], ['024910', 3380.0], ['035290', 10640.0], ['440790', 2250.0], ['204620', 4470.0], ['036190', 32550.0], ['091590', 11250.0], ['212560', 10690.0], ['153460', 10450.0], ['065560', 0.0], ['144960', 5420.0], ['438220', 2460.0], ['442310', 2450.0], ['006580', 0.0], ['005710', 6770.0], ['261200', 11600.0], ['109860', 32500.0], ['078590', 0.0], ['263690', 12260.0], ['141020', 0.0], ['039840', 34750.0], ['263020', 4070.0], ['328130', 73300.0], ['072870', 12550.0], ['257370', 0.0], ['250060', 2865.0], ['442900', 9690.0], ['448830', 2135.0], ['314930', 37350.0], ['299910', 0.0], ['251630', 10300.0], ['148140', 0.0], ['445360', 2195.0], ['335890', 6550.0], ['138580', 13400.0], ['448740', 10300.0], ['415580', 2220.0], ['015750', 10690.0], ['091990', 81400.0], ['136510', 0.0], ['269620', 0.0], ['419270', 2270.0], ['430220', 2190.0], ['418210', 2200.0], ['366330', 2440.0], ['393360', 2260.0], ['405640', 2220.0], ['352480', 42300.0], ['058220', 0.0], ['214430', 21850.0], ['040910', 13520.0], ['101390', 11600.0], ['052770', 0.0], ['114840', 23000.0], ['013310', 4995.0], ['196300', 16080.0], ['263540', 0.0], ['121890', 0.0], ['101490', 52900.0], ['435870', 2290.0], ['353060', 2185.0], ['064850', 9080.0], ['067570', 4705.0], ['391060', 10925.0], ['422040', 2200.0], ['437780', 2220.0], ['438580', 2405.0], ['439410', 2130.0], ['440820', 2135.0], ['450410', 2255.0], ['208860', 0.0], ['083310', 16290.0], ['123040', 6430.0], ['122640', 11100.0], ['014940', 3910.0], ['226400', 4650.0], ['048260', 190200.0], ['173130', 15780.0], ['122870', 67500.0], ['336570', 8130.0], ['095270', 6400.0], ['435380', 2100.0], ['446150', 2095.0], ['449020', 2030.0], ['430700', 2245.0], ['373340', 2595.0], ['388800', 2300.0], ['413630', 2225.0], ['442130', 2200.0], ['181340', 0.0], ['160600', 0.0], ['211050', 12000.0], ['119610', 37600.0], ['150840', 0.0], ['178780', 0.0], ['019540', 3480.0], ['040420', 7900.0], ['217190', 10320.0], ['054950', 23600.0], ['204270', 9010.0], ['322510', 6830.0], ['033340', 0.0], ['078650', 0.0], ['263860', 11630.0], ['219750', 0.0], ['363250', 19460.0], ['223310', 0.0], ['424140', 2145.0], ['436530', 2165.0], ['440200', 2065.0], ['256940', 11970.0], ['241710', 16080.0], ['069110', 0.0], ['114120', 0.0], ['900250', 2735.0], ['214150', 25650.0], ['237880', 24450.0], ['433530', 2195.0], ['023160', 20200.0], ['044490', 15580.0], ['340570', 50000.0], ['058530', 0.0], ['214450', 109200.0], ['170790', 15360.0], ['251970', 20450.0], ['318020', 0.0], ['370090', 33300.0], ['002230', 4815.0], ['057880', 0.0], ['043370', 9500.0], ['446750', 2110.0], ['448370', 2120.0], ['418170', 2220.0], ['427950', 2365.0], ['430230', 2105.0], ['435620', 9970.0], ['372290', 2405.0], ['106080', 11780.0], ['377400', 2300.0], ['400840', 2200.0], ['106190', 15000.0], ['436610', 2965.0], ['092460', 7560.0], ['226440', 0.0], ['319400', 5270.0], ['032860', 0.0], ['200670', 29800.0], ['065510', 18560.0], ['215090', 0.0]]

In [8]:
import pickle
with open('./90_candidate_2.pickle', 'wb') as f:
    pickle.dump(week, f)