In [1]:
from pykrx import stock
from pykrx import bond

In [2]:
market = "KOSDAQ"
tickers = stock.get_market_ticker_list(market=market)
print(len(tickers))

1634

In [4]:
ticker = tickers[1]
print(ticker)

054620

In [5]:
df = stock.get_market_ohlcv("20200301", "20230401", ticker, adjusted=True)
df.head()

               시가     고가     저가     종가     거래량
날짜
2020-03-02   9610   9980   9430   9890  370257
2020-03-03  10250  10650   9980  10200  578524
2020-03-04  10000  11300   9970  11150  824167
2020-03-05  11200  11300  10700  10900  346499
2020-03-06  10600  10800  10350  10650  396522

시가     13800
고가     13820
저가     13470
종가     13520
거래량    78390
Name: 2023-03-02 00:00:00, dtype: int32